/CollisionDetector.class
/CommandFactory.class
/CreateShape.class
/MoveShapes.class
/SelectShapes.class
/Collision.class
/Command.class
/DrawShape.class
/CopyCommand.class
/PasteShape.class
/DeleteShape.class
/CopyShape.class
/GroupCommand.class
/UngroupCommand.class
/FlipCommand.class
/RotateShape.class
