/MouseMode.class
/ShapeColor.class
/ShapeConfiguration.class
/ShapeShadingType.class
/ShapeType.class
/CommandHistory.class
/ShapeList$ShapeListIterator.class
/ShapeList.class
/ShapeListManager.class
