/IApplicationState.class
/IDialogProvider.class
/IIterator.class
/IObserver.class
/IShapeFactory.class
/ISubject.class
/IShapeShadingTypeStrategy.class
/IIteratorList.class
/ICheck.class
/IShape.class
/IShapeShadingType.class
/IMatter.class
