/AShape.class
/DrawingCalculations.class
/Ellipse.class
/EllipseFactory.class
/Rectangle.class
/RectangleFactory.class
/ShapeColorMap.class
/ShapeDrawer.class
/ShapeFactoryFactory.class
/ShapeInfo.class
/StrategyFactory.class
/Triangle.class
/TriangleFactory.class
/CreateShape.class
/Calculations.class
/EllipseStrat.class
/RectangleStrat.class
/ShapeStrat.class
/StrategyStratergy.class
/TriangleStrat.class
/Shaper.class
