/Gui.class
/GuiWindow.class
/PaintCanvas.class
/DrawMode.class
/IMode.class
/ModeFactory.class
/MoveMode.class
/SelectMode.class
/CreateShape.class
/FilledInDrawStrategy.class
/OutlineAndFilledInDrawStrategy.class
/OutlineOnlyDrawStrategy.class
/ComponentHandler.class
/ComponentChecker.class
/ModeStrat.class
/Drawing.class
/Moving.class
/Selecting.class
/FilledStrategy.class
/OutlineAndFilledInStrategy.class
/OutlineOnlytrategy.class
/OutlineOnlyStrategy.class
/Mode.class
